@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 24px;
  font-family: Lato;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to top right, #ffb357, #ff725b);
}

.card__body--light {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 27rem;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 61.25em) {
  .card__body--light {
    font-size: 22px;
    width: 22rem;
    height: 25rem;
  }
}
@media screen and (max-width: 37.5em) {
  .card__body--light {
    font-size: 20px;
    width: 20rem;
    height: 23rem;
  }
}
@media screen and (max-width: 31.25em) {
  .card__body--light {
    font-size: 18px;
    width: 17rem;
    height: 20rem;
  }
}

.card__body--dark {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 27rem;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(97, 97, 97, 0.5);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  backdrop-filter: blur(10px);
}
@media screen and (max-width: 61.25em) {
  .card__body--dark {
    font-size: 22px;
    width: 22rem;
    height: 25rem;
  }
}
@media screen and (max-width: 37.5em) {
  .card__body--dark {
    font-size: 20px;
    width: 20rem;
    height: 23rem;
  }
}
@media screen and (max-width: 31.25em) {
  .card__body--dark {
    font-size: 18px;
    width: 17rem;
    height: 20rem;
  }
}

.card__body--switch {
  position: absolute;
}
.card__body--switch span {
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}
.card__body--switch .hidden {
  display: none;
}

.card__album {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__album img {
  width: 65%;
  object-fit: cover;
  box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out;
}
.card__album img:hover {
  transform: scale(1.1);
}

.card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.card__name span {
  font-size: 1.1rem;
}

.card__progress--area-light {
  height: 10px;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.8);
  border-radius: 1.5rem;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.3);
}

.card__progress--area-dark {
  height: 10px;
  width: 100%;
  background-color: rgba(210, 210, 210, 0.8);
  border-radius: 1.5rem;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.3);
}

.card__progress--bar {
  height: 100%;
  width: 25%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem 0 0 1.5rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  transition: width 0.5s ease-in-out;
}

.card__progress--timer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}
.card__progress--timer span {
  font-size: 0.7rem;
}

.figures {
  position: absolute;
}

.card__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
  user-select: none;
}
.card__controls .material-icons {
  opacity: 0.8;
}
.card__controls .repeat,
.card__controls .favorite {
  font-size: 1.3rem;
}
.card__controls .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card__controls .controls span {
  font-size: 2rem;
}
.card__controls .controls .pause_circle {
  font-size: 3.3rem;
}

/*# sourceMappingURL=index.css.map */
