$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$border-radius: 1.5rem;

$blur: blur(10px);

$box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.4);

$color-progress-bar: rgba(255, 255, 255, 0.8);

// LIGHT THEME
$text-color-light: #000;
$color-gradient-card-light: rgb(255, 255, 255, 0.5);
$color-border-light: rgba(255, 255, 255, 0.5);
$color-progress-area-light: rgb(190, 190, 190);

// DARK THEME
$text-color-dark: #fff;
$color-gradient-card-dark: rgba(0, 0, 0, 0.5);
$color-border-dark: rgba(97, 97, 97, 0.5);
$color-progress-area-dark: rgb(150, 150, 150);
