.card__album {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 65%;
    object-fit: cover;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  span {
    font-size: 1.1rem;
  }
}
