.card__body--light,
.card__body--dark {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 27rem;
  padding: 2rem;

  border-radius: $border-radius;
  border: 1px solid $color-border-light;
  background: $color-gradient-card-light;
  color: $text-color-light;
  backdrop-filter: $blur;
  transition: all 0.5s ease;

  @media screen and (max-width: $bp-medium) {
    font-size: 22px;
    width: 22rem;
    height: 25rem;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 20px;
    width: 20rem;
    height: 23rem;
  }

  @media screen and (max-width: $bp-smallest) {
    font-size: 18px;
    width: 17rem;
    height: 20rem;
  }
}

.card__body--light {
  border: 1px solid $color-border-light;
  background: $color-gradient-card-light;
  color: $text-color-light;
}

.card__body--dark {
  border: 1px solid $color-border-dark;
  background: $color-gradient-card-dark;
  color: $text-color-dark;
}

.card__body--switch {
  position: absolute;

  span {
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
  }

  .hidden {
    display: none;
  }
}
