.card__body {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 27rem;
  padding: 2rem;

  background-color: white;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  background: $gradient-card;
  backdrop-filter: $blur;

  @media screen and (max-width: $bp-medium) {
    font-size: 22px;
    width: 22rem;
    height: 25rem;
  }

  @media screen and (max-width: $bp-small) {
    font-size: 20px;
    width: 20rem;
    height: 23rem;
  }

  @media screen and (max-width: $bp-smallest) {
    font-size: 18px;
    width: 17rem;
    height: 20rem;
  }
}
.card__body--switch {
  position: absolute;
}
