.card__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
  user-select: none;

  .material-icons {
    opacity: 0.8;
  }

  .repeat,
  .favorite,
  .favorite-outline {
    font-size: 1.3rem;
  }

  .favoriteBtn {
    .hidden {
      display: none;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 2rem;
    }

    .pause_circle {
      font-size: 3.3rem;
    }
  }
}
